
h2, h3 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    align-self: center;
}

h1 {
  /* font-family: 'Boogaloo', cursive; */
  font-family:'Caveat','Allerta Stencil', 'Wendy One',   sans-serif;
}